/* genaral kods */

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #333333;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hero__container{
    max-width: 1160px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1160px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 150px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* main*/
.info__btn {
    text-transform: capitalize;
    cursor: pointer;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #4CAF50;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #4e4e4e;
}

.info__btn:hover {
    opacity: 0.8;
    background-color: #4CAF50;
    color: white;
}

.info__btn:active {
    opacity: 0.5;
    background-color: #4CAF50;
    color: white;
}

.js-back {
    margin-top: 5px;
    margin-left: 5px;
    display:inline-block;
    margin-right: auto;
    cursor: pointer;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 70px;
    height: 40px;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #4e4e4e;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #4e4e4e;

}
.js-back:hover {
    opacity: 0.8;
    background-color: #4e4e4e;
    color: #fff;
}

.js-back :active {
    opacity: 0.5;
}
.info__city{
    margin-top:0 ;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.form__input{
    width: 70%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #4e4e4e;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 15px;
    font-size: 16px;
}
.form{
    width: 380px;
}
.title{
    text-transform: uppercase;
    color: #9c9696;
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.elList{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #aef0af;
    margin: 0 auto;
    width: 800px;
    max-width: 700px;
    border-radius: 9px;
    border: 6px solid rgb(190, 189, 189);
    height: 400px;
}
.elListUl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btnli{
    width: 170px;
    background-color: #dddddd;
}
.js__input{
    margin-bottom: 0;
}
.btnJs{
    width: 100%;
    background-color: none;
    border: none;
}